*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border{
    border: solid black;
}

#container{
    display: grid;
    grid-template-areas: 
    "nav encabezado encabezado encabezado"
    "nav publicidad publicidad aside"
    "nav noticias noticias aside"
    "nav footer footer footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 80vh;
}

header{
    grid-area: encabezado;
}

#publish{
    grid-area: publicidad;
}

#news{
    grid-area: noticias;
}

aside{
    grid-area: aside;
}
……
footer{
    grid-area: footer;
}

nav{
    grid-area: nav;
}

@media (max-width: 480px) {
    #container{        
        grid-template-areas: 
        "nav encabezado encabezado"
        "publicidad publicidad publicidad"
        "noticias noticias noticias"
        "footer footer aside"
        ;
    }
}